:root {
  --ns-primary-color: #060b13;
  --ns-bg-nav-color: #0D121A;
  --ns-icon-hover-color: rgba(6, 11, 19, 0.5);
  --ns-secondary-color: #0d121a;
  --ns-border-color: #212830;
  --ns-text-secondary-color: #88888a;
  --ns-text-gray-color: #383c42;
  --ns-button-code-color: #1c324b;
  --ns-button-copy-color: #6747D7;
  --ns-main-purple-color: #947af0;
  --ns-purple-border-color: #AA96F3;
  --ns-hover-link-bg-color: rgba(42, 45, 77, 0.4);
  --ns-active-link-bg-color: #2A2D4D;
  --ns-link-color: #7F7F7F;
  --ns-main-color-red: #F37261;
}
